@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: #1992d4;
    --content-bg: #e2e8f0;
    --orange: #f0b429;
    --search-bg: #e2e8f0;
}

body {
    font-family: "Roboto", sans-serif;
}

/* nav, header, .content {
    border: 1px solid red;
} */

.grid-container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr / 275px 1fr;

    >.nav-panel {
        grid-row: span 2;
    }
}

.nav-panel {
    background-color: var(--blue);
    color: white;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;

    >ul {
        list-style-type: none;
    }

    >ul>li {
        padding: 0.6rem;
        align-items: center;
        display: flex;
        gap: 1.5rem
    }

    >ul>li>img[src$=".svg"] {
        filter: brightness(0) invert(1);
        height: 1.5rem;
    }

    img[src$=".svg"] {
        filter: brightness(0) invert(1);
        height: 3rem;
    }

    .logo {
        display: flex;
        font-size: 1rem;
        align-items: center;

        >h1 {
            padding-left: 0.6rem;
        }
    }
}