@import url(reset.css);

:root {
    --blue: #1992d4;
    --content-bg: #e2e8f0;
    --orange: #f0b429;
    --search-bg: #e2e8f0;
}

body {
    font-family: "Roboto", sans-serif;
}
/* nav, header, .content {
    border: 1px solid red;
} */

.grid-container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;

    >.nav-panel {
        grid-row: span 2;
    }
}

.nav-panel {
    background-color: var(--blue);
    color: white;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;

    >ul {
        list-style-type: none;
    }
}